body {
    text-align : justify;
    font-family : Liberation !important;             /* Taille du texte sur la page */
    background-color : #f5eedb !important;
}

header {
    text-align: center;
    font-weight : bold !important;
    color : #6e0e0e;
    background-color : #e2ca95;
}

h3 {
    font-weight : bold;
    color : #6e0e0e;
}

@font-face {
    font-family: MyFont;
    src: url(../Fonts/Lohengrin.ttf);
  }

h1 {
    font-weight: bold;
    font-family: MyFont;
    text-align: center;
    font-size: large;
}

a, a:hover {
    color : #6e0e0e;
}

/* classes pour générer la barre de navigation */
.navbar {
    background-color: #e2ca95 !important; /*Couleur de la barre*/
    padding: 0 !important;
}

.navbar a {
    color: #6e0e0e;
    text-align: center;
    font-size: 26px !important;
  }

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #6e0e0e !important;
    background-color: #c2ac7d !important; /* Couleur du bouton lorsqu'on passe la souris dessus */
  }

footer {
    font-size : 1vw;                /* Taille du texte dans le footer */
    color : #6e0e0e;
    background-color : #e2ca95;
}

/*Classes pour mettre en forme le tableau des personnages*/
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5vw;
    border : 0.3vw solid #470909;
    border-collapse: collapse;
}

th {
    padding-left: 1vw;
    padding-right: 1vw;
    border : 0.1vw solid #470909;
    border-bottom : 0.3vw solid #470909;
    background-color : #e2ca95;
    color : #470909;
}

.thp {
    border-right : 0.3vw solid #470909;
}

td {
    padding-left: 1vw;
    padding-right: 1vw;
    border : 0.1vw solid #470909;
    background-color : #f5ecd2;
}

.tdp {
    border-right : 0.3vw solid #470909;
    background-color : #f0deb9;
}

/* Style des boutons */

  .btn-default {
    background-color: #831111 !important;
    color: #f0deb9 !important;
  }
  
  .btn-default:hover {
    background: #500909 !important;
  }

.card {
    background-color: #e2ca95 !important;
}